<div class="admin-info">
  <h2>Skills</h2>
  <table class='table'>
    <tr>
      <th>Name</th>
      <th>Years Experience</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
    <% @skills.each do |skill| %>
    <tr>
      <td><%= skill.name %></td>
      <td><%= skill.experience %></td>
      <td><span><%= link_to "Edit", edit_skill_path(skill), class: 'btn btn-warning' %></span></td>
      <td><span><%= link_to "Delete", skill_path(skill), :data => {:method => "delete"}, class: 'btn btn-danger' %></span></td>
    </tr>
    <% end %>
  </table>
  <h2>Hobbies</h2>
  <div class="cards-container">
    <% @hobbies.each do |hobby| %>
    <div class="card" style="width: 18rem;">
      <% if hobby.image.attached? %>
        <%= image_tag hobby.image, class: 'card-img-top'%>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= hobby.name %></h5>
        <p class="card-text"><%= hobby.description %></p>
        <span><%= link_to "Edit", edit_hobby_path(hobby), class: 'btn btn-warning' %></span>
        <span><%= link_to "Delete", hobby_path(hobby), :data => {:method => "delete"}, class: 'btn btn-danger' %></span>
      </div>
    </div>
    <% end %>
  </div>
  <h2>Projects</h2>
  <div class="cards-container">
    <% @projects.each do |project| %>
    <div class="card" style="width: 18rem;">
      <% if project.image.attached? %>
        <%= image_tag project.image, class: 'card-img-top'%>
      <%end%>
      <div class="card-body">
        <h5 class="card-title"><%= project.name %></h5>
        <p class="card-text"><%= project.description %></p>
        <p><%= link_to "Repository Link", project.repo_link %></p>
        <p><%= link_to "Deployed Project", project.deployment_link %></p>
        <span><%= link_to "Edit", edit_project_path(project), class: 'btn btn-warning' %></span>
        <span><%= link_to "Delete", project_path(project), :data => {:method => "delete"}, class: 'btn btn-danger' %></span>
      </div>
    </div>
    <% end %>
  </div>
</div>
