<%= form_for @hobby do |f| %>
  <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :description, "Description" %>
    <%= f.text_area :description, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :image, "Image" %>
    <%= f.file_field :image, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-success' %>
<% end %>
